$color-bg-ad-header: #F8F8F8;
$color-button: #E12248;
$color-button-hover: #C61C3E;
$color-border: #DDDDDD;
$color-text-primary: #000000;
$color-text-additionary: #888;
$color-text-light: #ffffff;

$content-width: 1300px;