@mixin font-primary ($size: 1.6rem, $weight: 400, $color: $color-text-primary) {
  font-family: 'Open Sans', 'Verdana', 'Geneva', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin flex ($justify: center, $align: center, $flow: row wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
}

@mixin columns ($width) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  >* {
    flex-basis: $width;
  }
}